{% extends "base.html" %}

{% block content %}
<h2>Registration</h2>
<form method="POST" onsubmit="return validateForm()">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" autocomplete="email" value="{{ email }}"
                      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" oninput="checkPassword()" required>
            <button type="button" class="btn btn-secondary" onclick="togglePassword('password')">Show</button>
        </div>
        <small id="passwordFeedback" class="form-text text-danger" style="display: none;">
            Please use at least 3 digits and one special character.
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Complete Registration</button>
</form>
    <button type="submit" class="btn btn-secondary">View FHIR Document</button>
</form>

<script src="{{ url_for('static', filename='JS/register.js') }}"></script>
{% endblock %}
