<!--register.html-->
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<!-- Registration Form -->
<div class="container mt-5">
    <h1 class="text-center mb-4">Register to setup your D.E.P.S</h1>
    <form method="POST" action="/register" class="needs-validation row g-3" novalidate>

        <!-- Email and Password -->
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail4" autocomplete="email"
                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
            <div class="valid-feedback">Looks good!</div>
            <div id="emailHelp" class="form-text">Your information will be handled with care.</div>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword4" minlength="8"  required>
            <div class="invalid-feedback">Password must be at least 8 characters long.</div>
        </div>

        <!-- First and Last Name -->
        <div class="col-md-6">
            <input type="text" class="form-control" name="given_name" placeholder="Given name" aria-label="Given name"
                   required>
            <div class="invalid-feedback">Please provide your given name.</div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="last_name" placeholder="Last name" aria-label="Last name"
                   required>
            <div class="invalid-feedback">Please provide your last name.</div>
        </div>

        <!--Social Security Number-->
        <div class="col-md-6">
            <label for="inputSocialSecurityNumber" class="form-label">Social Security Number</label>
            <input type="number" class="form-control" name="socialsecuritynumber"
                   id="inputSocialSecurityNumber" min="1000" max="9999" required>
            <div class="invalid-feedback">Please enter a valid Austrian Social Security Number.</div>
        </div>

        <!-- Birthdate -->
        <div class="col-md-2">
            <label for="inputBirthday" class="form-label">Birthdate</label>
            <input type="date" class="form-control" name="birthday" id="inputBirthday" min="1900-01-01" required>
            <div class="invalid-feedback">Please enter a valid date.</div>
        </div>
        <!-- Address -->
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" name="address" id="inputAddress" placeholder="Main St 123" required>
        </div>

        <!-- City, State, and Zip -->
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="number" class="form-control" name="zip" id="inputZip" min="1000" max="9999" required>
            <div class="invalid-feedback">Please enter a valid Austrian Zip code.</div>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" name="city" id="inputCity" required>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" name="state" class="form-select" required>
                <option value="" disabled>Choose...</option>
                <option>Burgenland</option>
                <option>Kärnten</option>
                <option>Niederösterreich</option>
                <option>Oberösterreich</option>
                <option>Salzburg</option>
                <option>Steiermark</option>
                <option>Tirol</option>
                <option>Vorarlberg</option>
                <option selected>Wien</option>
            </select>
        </div>

        <!-- Gender -->
        <div class="col-md-2">
            <label for="inputGender" class="form-label">Gender</label>
            <select id="inputGender" name="gender" class="form-select" required>
                <option value="" disabled>Choose...</option>
                <option selected>Male</option>
                <option>Female</option>
                <option>Other</option>
                <option>Unknown</option>
            </select>
        </div>

        <!-- Telephone number-->
        <div class="col-md-2">
            <label for="inputCountryCode" class="form-label">Country Code</label>
            <select id="inputCountryCode" name="countryCode" class="form-select" required>
                <option value="" disabled>Choose...</option>
                <option value="+43" selected>Austria (+43)</option>
                <option value="+49">Germany (+49)</option>
                <option value="+420">Czech Republic (+420)</option>
                <option value="+421">Slovakia (+421)</option>
                <option value="+36">Hungary (+36)</option>
                <option value="+386">Slovenia (+386)</option>
                <option value="+39">Italy (+39)</option>
                <option value="+41">Switzerland (+41)</option>
                <option value="+423">Liechtenstein (+423)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputPhonenumber" class="form-label">Telephone Number</label>
            <input type="number" class="form-control" name="phonenumber" id="inputPhonenumber" required>
        </div>

        <!-- Submit -->
        <div class="col-12">
            <button type="submit" class="btn btn-custom w-100">Register</button>
        </div>
    </form>
</div>
<script src="/static/JS/register.js" defer></script>
{% endblock %}

