<!--user_patient_info.html-->
{% extends "base.html" %}

{% block title %}User and Patient Data{% endblock %}

{% block content %}
<div class="container mt-5">
    <button type="submit" id="updateDataFromFhir" class="btn btn-custom w-100">Update data from Fhir-Server</button>
    <h1 class="text-center mb-4">Set up your Rescue Card</h1>
    <h2 class="text-center mb-4">Your Data</h2>
    <form method="POST" action="/userPatientInfo" class="needs-validation row g-3" novalidate>

        <!--Change Email-->
        <div class="col-md-8">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail4" autocomplete="email"
                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
        </div>
        <!--Change First and Last Name -->
        <div class="col-md-6">
            <input type="text" class="form-control" name="given_name" placeholder="Given name" aria-label="Given name"
                   required>
            <div class="invalid-feedback">Please provide your first name.</div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="last_name" placeholder="Last name" aria-label="Last name"
                   required>
            <div class="invalid-feedback">Please provide your last name.</div>
        </div>

        <!--Social Security Number-->
        <div class="col-md-6">
            <label for="inputSocialSecurityNumber" class="form-label">Social Security Number</label>
            <input type="number" class="form-control" name="socialsecuritynumber"
                   id="inputSocialSecurityNumber" min="1000" max="9999" readonly>
            <div class="invalid-feedback">Please enter a valid Austrian Social Security Number.</div>
        </div>

        <!-- Birthdate -->
        <div class="col-md-2">
            <label for="inputBirthday" class="form-label">Birthdate</label>
            <input type="date" class="form-control" name="birthday" id="inputBirthday" min="1900-01-01" required>
            <div class="invalid-feedback">Please enter a valid date.</div>
        </div>

        <!-- Address -->
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" name="address" id="inputAddress" placeholder="Main St 123" required>
        </div>

        <!-- City, State, and Zip -->
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="number" class="form-control" name="zip" id="inputZip" min="1000" max="9999" required>
            <div class="invalid-feedback">Please enter a valid Austrian Zip code.</div>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" name="city" id="inputCity" required>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" name="state" class="form-select" required>
                <option value="" disabled>Choose...</option>
                <option>Burgenland</option>
                <option>Kärnten</option>
                <option>Niederösterreich</option>
                <option>Oberösterreich</option>
                <option>Salzburg</option>
                <option>Steiermark</option>
                <option>Tirol</option>
                <option>Vorarlberg</option>
                <option selected>Wien</option>
            </select>
        </div>

        <!-- Gender -->
        <div class="col-md-2">
            <label for="inputGender" class="form-label">Gender</label>
            <select id="inputGender" name="gender" class="form-select" required>
                <option value="" disabled>Choose...</option>
                <option selected>Male</option>
                <option>Female</option>
                <option>Other</option>
                <option>Unknown</option>
            </select>
        </div>

        <!-- Telephone number-->
        <div class="col-md-2">
            <label for="inputCountryCode" class="form-label">Country Code</label>
            <select id="inputCountryCode" name="countryCode" class="form-select" required>
                <option value="" disabled>Choose...</option>
                <option value="+43" selected>Austria (+43)</option>
                <option value="+49">Germany (+49)</option>
                <option value="+420">Czech Republic (+420)</option>
                <option value="+421">Slovakia (+421)</option>
                <option value="+36">Hungary (+36)</option>
                <option value="+386">Slovenia (+386)</option>
                <option value="+39">Italy (+39)</option>
                <option value="+41">Switzerland (+41)</option>
                <option value="+423">Liechtenstein (+423)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputPhonenumber" class="form-label">Telephone Number</label>
            <input type="number" class="form-control" name="phonenumber" id="inputPhonenumber" required>
        </div>

        <!-- Height -->
        <div class="col-md-6">
            <label for="inputHeight" class="form-label">Height</label>
            <input type="number" class="form-control" name="height" id="inputHeight" placeholder="Enter height">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="height_unit" id="height_cm" value="cm" checked>
                <label class="form-check-label" for="height_cm">cm</label>
            </div>
        </div>
        <!-- Weight -->
        <div class="col-md-6">
            <label for="inputWeight" class="form-label">Weight</label>
            <input type="number" class="form-control" name="weight" id="inputWeight" placeholder="Enter weight"
                   min="1" max="500">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="weight_unit" id="weight_kg" value="kg" checked>
                <label class="form-check-label" for="weight_kg">kg</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="weight_unit" id="weight_lbs" value="lbs">
                <label class="form-check-label" for="weight_lbs">lbs</label>
            </div>
        </div>

        <!-- Pregnancy Status -->
        <div class="col-md-12 mt-4" id="pregnancy-section" style="display: none;">
            <h2 class="text-center mb-4">Pregnancy Status</h2>
            <label class="form-label">Are you currently pregnant?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregnancy_status" id="pregnant_yes" value="yes">
                <label class="form-check-label" for="pregnant_yes">Yes</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregnancy_status" id="pregnant_no" value="no"
                       checked>
                <label class="form-check-label" for="pregnant_no">No</label>
            </div>

            <!-- Pregnancy Date Picker (only if pregnant) -->
            <div class="mt-3" id="pregnancy-date" style="display: none;">
                <label for="pregnancyStartDate" class="form-label">Estimated Date You Became Pregnant</label>
                <input type="date" id="pregnancyStartDate" name="pregnancy_start_date" class="form-control">
            </div>
        </div>

        <!--CONTACT INFORMATION-->

        <h2 class="text-center mb-4">Your preferred emergency contact</h2>
        <!--Change First and Last Name -->
        <div class="col-md-6">
            <input type="text" class="form-control" name="contact_given_name" placeholder="Given name of your contact"
                   aria-label="Given name of your contact">
            <div class="invalid-feedback">Please provide your first name.</div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="contact_last_name" placeholder="Last name of your contact"
                   aria-label="Last nameof your contact">
            <div class="invalid-feedback">Please provide your last name.</div>
        </div>
        <!-- Telephone number-->
        <div class="col-md-2">
            <label for="inputContactCountryCode" class="form-label">Country Code</label>
            <select id="inputContactCountryCode" name="countryCode" class="form-select">
                <option value="" disabled>Choose...</option>
                <option value="+43" selected>Austria (+43)</option>
                <option value="+49">Germany (+49)</option>
                <option value="+420">Czech Republic (+420)</option>
                <option value="+421">Slovakia (+421)</option>
                <option value="+36">Hungary (+36)</option>
                <option value="+386">Slovenia (+386)</option>
                <option value="+39">Italy (+39)</option>
                <option value="+41">Switzerland (+41)</option>
                <option value="+423">Liechtenstein (+423)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputContactPhonenumber" class="form-label">Telephone Number</label>
            <input type="number" class="form-control" name="contact_phone" id="inputContactPhonenumber" min="0000000000"
                   max="9999999999999">
        </div>

        <!-- Blood Type and Rhesus Factor -->

        <div class="col-md-6 text-center p-3 border rounded">
            <h2 class="text-center mb-4">Blood Type</h2>
            <label class="form-label">Select Blood Type and Rhesus Factor</label>
            <div class="d-flex justify-content-center mb-4">
                <!-- Blood Types -->
                <div class="me-3">
                    <label>Blood Type:</label>
                    <div class="form-check">
                        <input class="form-check-input blood-radio" type="radio" name="blood_type" id="blood_a"
                               value="A">
                        <label class="form-check-label" for="blood_a">A</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input blood-radio" type="radio" name="blood_type" id="blood_b"
                               value="B">
                        <label class="form-check-label" for="blood_b">B</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input blood-radio" type="radio" name="blood_type" id="blood_ab"
                               value="AB">
                        <label class="form-check-label" for="blood_ab">AB</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input blood-radio" type="radio" name="blood_type" id="blood_o"
                               value="O">
                        <label class="form-check-label" for="blood_o">O</label>
                    </div>
                </div>
                <!-- Rhesus Factor -->
                <div>
                    <label>Rhesus Factor:</label>
                    <div class="form-check">
                        <input class="form-check-input rhesus-radio" type="radio" name="rhesus_factor" id="rhesus_pos"
                               value="Positive">
                        <label class="form-check-label" for="rhesus_pos">Positive (+)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input rhesus-radio" type="radio" name="rhesus_factor" id="rhesus_neg"
                               value="Negative">
                        <label class="form-check-label" for="rhesus_neg">Negative (-)</label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="lock-blood-type">Lock</button>
        </div>


        <!-- Resuscitation Order -->
        <div class="col-md-6 text-center p-3 border rounded">
            <h2 class="text-center mb-4">Resuscitation Order</h2>
            <div class="form-check">
                <input class="form-check-input-resus" type="checkbox" name="resuscitation" id="dnr-checkbox"
                       value="DNR">
                <label class="form-check-label" for="dnr-checkbox">
                    Do Not Resuscitate (DNR) - In case of cardiac arrest, no resuscitation efforts will be made.
                </label>
            </div>
            <button type="button" class="btn btn-danger mt-3" id="confirm-dnr-button" disabled>I AM REALLY SURE</button>
            <button type="button" class="btn btn-success mt-2" id="abort-dnr-button" style="display: none;">Abort DNR
            </button>

            <!-- Modal for Confirmation -->
            <div class="modal fade" id="dnrModal" tabindex="-1" aria-labelledby="dnrModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dnrModalLabel">Confirm DNR Preference</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>I AGREE THAT</strong> In case of cardiac arrest, NO resuscitation efforts will be
                                made.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="confirm-dnr">Yes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abort</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Medication-->
        <div class="col-md-6 text-center p-3 border rounded">
            <h2 class="text-center mb-4">Medication</h2>
            <div class="p-3 border rounded">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Medication</th>
                    </tr>
                    </thead>
                    <tbody id="medication-list">
                    <!-- Existing medications will be dynamically added here -->
                    </tbody>
                </table>
                <h6>Add New Medication</h6>
                <div class="row g-3 mb-3">
                    <!-- Manufacturer Dropdown -->
                    <div class="col-md-6">
                        <label for="medication_manufacturer" class="form-label">Manufacturer</label>
                        <select id="medication_manufacturer" name="medication_manufacturer" class="form-select">
                            <option value="" disabled selected>Select Manufacturer</option>
                            <!-- Dynamic options will be added here -->
                        </select>
                    </div>

                    <!-- Medication Dropdown -->
                    <div class="col-md-6">
                        <label for="medication_name" class="form-label">Medication</label>
                        <select id="medication_name" name="medication_name" class="form-select">
                            <option value="" disabled selected>Select Medication</option>
                            <!-- Dynamic options will be added here -->
                        </select>
                    </div>

                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-secondary" id="add-medication">Add Medication</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Conditions Section -->
        <div class="col-md-6 text-center p-3 border rounded">
            <h2 class="text-center mb-4">Conditions</h2>
            <div class="p-3 border rounded">
                <div id="condition-list">
                    <div class="form-check">
                        <input class="form-check-input condition-checkbox" type="checkbox" name="conditions"
                               id="condition-hbp"
                               value="High Blood Pressure">
                        <label class="form-check-label" for="condition-hbp">High Blood Pressure</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input condition-checkbox" type="checkbox" name="conditions"
                               id="condition-diabetes"
                               value="Diabetes">
                        <label class="form-check-label" for="condition-diabetes">Diabetes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input condition-checkbox" type="checkbox" name="conditions"
                               id="condition-hearing-aid"
                               value="Hearing Aid">
                        <label class="form-check-label" for="condition-hearing-aid">Hearing Aid</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input condition-checkbox" type="checkbox" name="conditions"
                               id="condition-pacemaker"
                               value="Pacemaker">
                        <label class="form-check-label" for="condition-pacemaker">Pacemaker</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary mt-3" id="lock-conditions">Lock</button>
            </div>
        </div>


        <!-- Allergies Section -->
        <div class="col-md-6 text-center p-3 border rounded">
            <h2 class="text-center mb-4">Allergies & Intolerances</h2>
            <div class="p-2 border rounded text-center">
                <label class="form-label mb-3">Select Allergies</label>
                <div id="allergy-list">
                    <div class="form-check mb-2">
                        <input class="form-check-input allergy-checkbox" type="checkbox" name="allergies"
                               id="allergy-peanut"
                               value="Peanut">
                        <label class="form-check-label" for="allergy-peanut">Peanut</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input allergy-checkbox" type="checkbox" name="allergies"
                               id="allergy-lactose"
                               value="Lactose">
                        <label class="form-check-label" for="allergy-lactose">Lactose</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input allergy-checkbox" type="checkbox" name="allergies"
                               id="allergy-penicillin"
                               value="Penicillin">
                        <label class="form-check-label" for="allergy-penicillin">Penicillin</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input allergy-checkbox" type="checkbox" name="allergies"
                               id="allergy-soy"
                               value="Soy">
                        <label class="form-check-label" for="allergy-soy">Soy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input allergy-checkbox" type="checkbox" name="allergies"
                               id="allergy-shellfish"
                               value="Shellfish">
                        <label class="form-check-label" for="allergy-shellfish">Shellfish</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary mt-3" id="lock-allergies">Lock</button>
            </div>
        </div>


        <button type="submit" class="btn btn-custom w-100">Save</button>
    </form>
</div>
<script src="/static/JS/check_user.js"></script>
<script src="/static/JS/user_patient_info.js" defer></script>
{% endblock %}